<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MorfiStore</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="imagenes/icon1.png" type="image/x-icon">
</head>
<body>
    <header id="cabecera" class="cabecera-sticky">
        <div class="contenedor">
            <div class="fila">
                <figure id="logo">
                    <a title="Inicio" href="#inicio">
                        <img src="imagenes/logo2.png" class="img-ajustar">
                    </a>
                </figure> <!-- logo -->
                <h2> Morfi<span class="texto-enorme texto-resaltado">S</span>tore</h2>
                <nav id="menu-principal">
                    <!-- lista de viñetas -->
                    <ul class="menu-barra">
                        <li><a href="#inicio">Inicio</a></li>
                        <li><a href="#nosotros">Nosotros</a></li>
                        <li><a href="#productos">Productos</a></li>
                        <li><a href="#contacto">Contacto</a></li>
                    </ul> <!-- menu-barra-->
                </nav> <!-- menu-principal -->
            </div> <!-- fila -->
        </div> <!-- contenedor -->
    </header> <!-- inicio -->

    <!-- Area de nosotros -->
    <figure id="inicio"> 
        <img src="imagenes/banner.jpg" class="img-ajustar"> 
        <figcaption id="inicio-tema">
            <h3>CUIDAMOS EL BIENESTAR DE TUS MASCOTAS</h3>
        </figcaption>
    </figure> <!-- inicio -->

    <section id="nosotros">
        <div class="hola">
            <img src="imagenes/logo2.png">
            <h1>Conoce mas sobre nosotros</h1>
            <p>En nuestra tienda, nos dedicamos a ofrecer alimentos de la mejor calidad para tus mascotas. 
                <br>Sabemos lo importante que es su bienestar, por eso contamos con una amplia variedad de productos cuidadosamente 
                <br>seleccionados para satisfacer sus necesidades nutricionales. Trabajamos con las marcas más confiables del mercado y 
                <br>ofrecemos opciones para todas las etapas de la vida de tu mascota, asegurándonos de que siempre estén saludables y felices. 
                ¡Tu mascota es parte de nuestra familia! </p>

            <!-- Contenedor del botón para centrarlo -->

            <div class="info">
                <a href="#" class="boton">Averigua más sobre mí</a>
            </div>
        </div>
    </section>

    <!-- Area de productos -->
    <section id="productos" class="espaciado">
        <div class="contenedor">
            <h2>Ropas</h2><br>
            <div class="fila">
                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/ima09.jpeg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/52.00<br> <span class="texto-resaltado">Ropa chucky</span></p>    
                </article> <!-- columna -->
                
                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/ima10.jpeg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/55.00<br> <span class="texto-resaltado"> Marinerito</span></p>   
                </article> <!-- columna -->

                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/ima11.jpeg" class="img-ajustar" alt=""> 
                    </figure>           
                    <p>s/69.00<br> <span class="texto-resaltado">Vaquero body</span></p>                      
                </article> <!-- columna -->

                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/ima12.jpeg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/65.00<br> <span class="texto-resaltado">Minions</span></p>
                </article> <!-- columna -->
            </div> <!-- fila --> <br>

            <div class="fila">
                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/ima13.jpeg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/90.00<br> <span class="texto-resaltado">Sherift</span></p>
                </article> <!-- columna -->

                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/ima14.jpeg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/39.00<br> <span class="texto-resaltado">Correa raton</span></p>
                </article> <!-- columna -->

                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/ima15.jpeg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/75.00<br> <span class="texto-resaltado">Policia</span></p>
                </article> <!-- columna -->

                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/ima17.jpeg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/30.00<br> <span class="texto-resaltado">Pechera Spider-man</span></p>
                </article> <!-- columna -->
            </div> <!-- fila --> <br>
            <h2>Juguetes y Pecheras</h2><br>
            <div class="fila">
                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/ima18.jpeg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/30.00<br> <span class="texto-resaltado">Pechera wolverine</span></p>
                </article> <!-- columna -->

                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/ima19.jpeg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/30.00<br> <span class="texto-resaltado">Pechera Gatos</span></p>
                </article> <!-- columna -->

                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/ima20.jpeg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/15.00<br> <span class="texto-resaltado">Correa</span></p>
                </article> <!-- columna -->

                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/ima21.jpeg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/100.00<br> <span class="texto-resaltado">Dog bowl</span></p>
                </article> <!-- columna -->
            </div> <!-- fila --> <br>

            <div class="fila">
                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/ima08.jpeg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/30.00<br> <span class="texto-resaltado">Pelotas Masticables</span></p>
                </article> <!-- columna -->

                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/ima16.jpg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/25.00<br> <span class="texto-resaltado">Cuerda de doble nudo</span></p>
                </article> <!-- columna -->

                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/ima03.jpg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/45.00<br> <span class="texto-resaltado">Hueso amarillo grande</span></p>
                </article> <!-- columna -->

                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/ima02.jpg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/78.00<br> <span class="texto-resaltado">Pack de 7 Juguetes para Gatos</span></p>
                </article> <!-- columna -->
            </div> <!-- fila --><br>
            <h2>Comida</h2><br>
            <div class="fila">
                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/comida1.jpg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/285.21<br> <span class="texto-resaltado">Belgano Adulto codero y arroz 12.5 kg</p>
                </article> <!-- columna -->

                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/comida2.jpg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/328.00<br> <span class="texto-resaltado">Taste of the wild pacific stream Canine Salmon ahumado 12.2 kg + 2 latas Gratis</span></p>
                </article> <!-- columna -->

                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/comida3.jpg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/280.80<br> <span class="texto-resaltado">Belgano Adulto Grain free poulttry 12.5 kg</span></p>
                </article> <!-- columna -->

                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/comida4.jpg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/125.91<br> <span class="texto-resaltado">Belgano Finest Gf Lamb Mini Adult 4 kg</span></p>
                </article> <!-- columna -->
            </div> <!-- fila --> <br>

            <div class="fila">
                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/comida5.jpg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/109.90<br> <span class="texto-resaltado">RICOCAN Adultos Razas Medianas y Grandes Cordero y Cereales Bolsa 15Kg</span></p>
                </article> <!-- columna -->

                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/comida6.jpg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/107.90<br> <span class="texto-resaltado">Salvaje Adulto Con Cordero 15 Kg</span></p>
                </article> <!-- columna -->

                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/comida7.jpg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/456.00<br> <span class="texto-resaltado">T25 Nutram Total Grain - Free Salmon & Trout Dog 11.4 Kg</span></p>
                </article> <!-- columna -->

                <article class="columna">
                    <figure class="productos-foto">
                        <img src="imagenes/comida8.jpg" class="img-ajustar" alt="">
                    </figure>
                    <p>s/124.90<br> <span class="texto-resaltado">Bravery Cordero Adult Large/Medium Breed Alimento Seco Perro</span></p>
                </article> <!-- columna -->
            </div> <!-- fila -->
        </div>  <!-- contenedor -->     
    </section> <!-- productos -->
    
    <!-- Area de contacto -->
    <section id="contacto">
        <div class="contenedor">
            <h2> Morfi<span class="texto-enorme texto-resaltado">S</span>tore</h2>
            <div class="fila">
                <div class="columna-33">
                    <p>Se especializa en la venta de ropa y accesorios para mascotas, ofreciendo productos de alta calidad que garantizan comodidad, estilo y bienestar para tus animales.</p>
                </div> <!-- columna -->

                <div class="columna-66">
                    <p>Llamanos: <br>
                        <a class="texto-resaltado" href="#"> +51 970616795</a> <br>
                        Envianos un EMAIL aqui: <br>
                           <a class="texto-resaltado" href="#">MorfiStoree@gmail.com</a>
                    </p>
                </div> <!-- columna -->
            </div> <!-- fila -->
        </div> <!-- contenedor -->
    </section> <!-- contacto -->

    <!-- Area del pie de pagina -->
    <footer id="footer">
        <div class="contenedor">
                <nav class="columna">
                    Contactanos en: <br>
                    <a href="#" target="_blank" title="Facebook">
                        <i class="fa-brands fa-facebook-square fa-2x"></i>
                    </a>
                    
                    <a href="#" target="_blank" title="Instagram">
                        <i class="fa-brands fa-instagram-square fa-2x"></i>
                    </a>
                    
                    <a title="Escribenos por whatsapp" target="_blank" href="#">
                        <i class="fa-brands fa-whatsapp fa-2x"></i>
                    </a>
                </nav> <!-- columna --><br>
                <p>&copy; Camilla Tolentino Atenogenes. Todos los derechos reservados.</p>
        </div> <!-- contenedor -->        
    </footer>
</body>
</html>